In [1]:
print('Hello World')

Hello World

# How to print something in python

## using  the print statment 
* Using Print
* Case Sensitive

In [2]:
import keyword

In [3]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python.

In [5]:
# 1 = 45

In [18]:
a = 35

In [19]:
l = 25

In [20]:
l

25

In [6]:
_1 = 45

In [7]:
_1

45

In [8]:
55

55

In [10]:
var_1 = 45

In [11]:
var_1

45

In [14]:
# $ = 45

In [15]:
var = 45

In [16]:
VAR = 45

In [17]:
VAR

45

In [24]:
# int = 45

In [23]:
# int

In [25]:
a = 52
b = 10

In [26]:
# addition 
a + b

62

In [27]:
# subtract
a - b

42

In [28]:
# multiplication
a * b

520

In [34]:
# absolute division
7 / 2

3.5

In [35]:
# remainder(modulas operator)
7 % 2

1

In [36]:
# floor division 
7 // 2

3

In [37]:
# exponent/power
2 ** 5

32

In [38]:
2 ** 2

4

In [39]:
4 ** 1/2

2.0

In [40]:
type(2.0)

float

In [41]:
type(2)

int

In [42]:
num_1 = 55
num_2 = 45
num_3 = 65
avg = num_1+num_2+num_3/3
print(avg)

121.66666666666667

In [43]:
avg = (num_1+num_2+num_3)/3
print(avg)

55.0

In [9]:
user = int(input('Enter a number '))

Enter a number 45

In [10]:
user

45

In [11]:
type(user)

int

In [2]:
a = '45'

In [3]:
type(a)

str

In [56]:
type(a)

str

In [5]:
b = int(a)

In [8]:
b

45

In [58]:
print(a)

45

In [7]:
type(b)

int

In [12]:
# int(a)

In [13]:
prip = int(input('Enter the princple amount : '))
rate = int(input('Enter the rate of interest : '))
time = int(input('Enter the number of years : '))
s_i = (prip*rate*time)/100
print(s_i)

Enter the princple amount : 10000
Enter the rate of interest : 10
Enter the number of years : 2
2000.0

In [14]:
a = None

In [15]:
a

In [17]:
# print(a)

In [18]:
a = 35

In [19]:
print(a)

35

In [20]:
a = 45

In [21]:
a

45

In [22]:
a = 'Hi'

In [23]:
a

'Hi'

In [24]:
a = 45

In [25]:
a

45

In [26]:
id(a)

140704391445664

In [27]:
a = "Hi"

In [28]:
a

'Hi'

In [29]:
id(a)

1962204901296

In [30]:
a = 45

In [31]:
a

45

In [32]:
id(a)

140704391445664

In [33]:
a = "Hi"

In [34]:
a

'Hi'

In [35]:
id(a)

1962204901296

In [36]:
a = 5.25

In [37]:
type(a)

float

In [38]:
a + 1

6.25

In [46]:
a = "Hi"

In [48]:
id(a)

1962204901296

In [47]:
a

'Hi'

In [40]:
type(a)

str

In [49]:
a = 'Hi'

In [42]:
type(a)

str

In [45]:
print(a)

Hi

In [50]:
id(a)

1962204901296

In [52]:
a = "i'm learning cycling nowdays "

In [53]:
a

"i'm learning cycling nowdays "

In [54]:
print(a)

i'm learning cycling nowdays

In [63]:
a = 'i"m learning python first time'

In [64]:
type(a)

str

In [57]:
a

'i"m learning python first time'

In [58]:
a = 'h'

In [59]:
type(a)

str

In [60]:
a = "word"

In [61]:
a

'word'

In [62]:
type(a)

str

In [87]:
a =''' Next, install the Python 3 interpreter on your computer. 
This is the program carries that reads Python programs and out their instructions; 
you need it before you can do any Python programming. Mac and Linux distributions 
may include an outdated version of Python (Python 2), 
but you should install an updated one (Python 3). 
See BeginnersGuide/Download for instructions to download the correct version of Python.
There are also Python interpreter and IDE bundles available, such as Thonny. 
Other options can be found at IntegratedDevelopmentEnvironments. '''

In [88]:
len(a)

563

In [70]:
a

' Next, install the Python 3 interpreter on your computer. \nThis is the program that reads Python programs and carries out their instructions; \nyou need it before you can do any Python programming. Mac and Linux distributions \nmay include an outdated version of Python (Python 2), \nbut you should install an updated one (Python 3). \nSee BeginnersGuide/Download for instructions to download the correct version of Python.\nThere are also Python interpreter and IDE bundles available, such as Thonny. \nOther options can be found at IntegratedDevelopmentEnvironments. '

In [73]:
a = 'Hi'
b = 'Hello'
c = 'How are you ?'
print(a)
print(b)
print(c)

Hi
Hello
How are you ?

In [72]:
print(a)

Hi

In [76]:
a = "Hi \nHello \nHow are you?"

In [77]:
print(a)

Hi
Hello
How are you?

In [84]:
a = 'Hi'
b = 'Hello'
c = 'How are you ?'
print(a,end=" ")
print(b,end =' ')
print(c,end =' ')

Hi Hello How are you ?

In [92]:
a = "Hi Hello How are,. you?"

In [93]:
len(a)

23

In [80]:
print(a)

Hi Hello How are you?

In [85]:
a

'Hi'

In [94]:
a = 'Python'

In [98]:
a[2]

't'

In [99]:
a

'Python'

start = starting index where the  slicing will start
stop = index the slicing will go upto not including the stop
step = setp
a[start:stop:step]

In [102]:
#tho
a[2:4:1]

'th'

In [101]:
a

'Python'

In [106]:
a[4:6:1]

'on'

In [107]:
a[-1:-3:-1]

'no'

In [108]:
a = 'Hello to the World of Programming'

In [109]:
a[0:5:1]

'Hello'

In [111]:
a[0:5:2]

'Hlo'

In [112]:
a[0:5:3]

'Hl'

In [113]:
a[0:5:4]

'Ho'

In [114]:
a = 'hjghyf'

In [117]:
a['0':'5':'1']

TypeError: slice indices must be integers or None or have an __index__ method

In [118]:
a = "0123456789"

In [119]:
a[0:5:1]

'01234'

In [120]:
a[0:5:2]

'024'

In [121]:
a[0:5:3]

'03'

In [122]:
a[0:5:4]

'04'

In [16]:
# a = "nandesh677565@gmail.com"
# a= "bnfgcbfxvds@yahoo.com"
a =  "sudhanshukumar645345454@ymail.com"

In [32]:
#domain
a =input('Please  enter your email : ')
total = len(a)
ind = a.index('@')
sub_d =a[ind+1:]
i = sub_d.index('.')
sub_d[:i]

Please  enter your email : nandeshpainuly@gmail.com

'gmail'

In [28]:
i = sub_d.index('.')

In [29]:
sub_d[:i]

'ymail'

In [19]:
a

'sudhanshukumar645345454@ymail.com'

In [22]:
a[0::2]

'sdasuua65444yalcm'

In [24]:
a[:6]

'sudhan'

In [7]:
ind

13

In [3]:
a[15:6:1]

''

In [12]:
a.index('@')

13

In [33]:
# a.index()

In [34]:
a =  "sudhanshukumar645345454@gmail.com"

In [37]:
a[::-1]

'moc.liamg@454543546ramukuhsnahdus'

In [38]:
a[-1:-4:-1]

'moc'

In [39]:
# cig5
b="sudhanshukumar645345454@gmail.com"
b[-3:-14:-3]

'cig5'

In [41]:
#unkr
print(b[1:14:4])

unkr

In [42]:
a = 'Hello'

In [43]:
a.count('l')

2

In [44]:
a.index('l')

2

In [45]:
a.capitalize()

'Hello'

In [46]:
a = 'hi'

In [47]:
a.capitalize()

'Hi'

In [50]:
a = a.upper()

In [51]:
a

'HI'

In [52]:
a.lower()

'hi'

In [56]:
a = 'I Will be going the school'
b = "You will not go today"

In [55]:
a.startswith('Y')

False

In [57]:
b.startswith('Y')

True

In [60]:
a.endswith('a')

False

In [63]:
a = 'hi'

In [64]:
a.istitle()

False

In [65]:
a = "2571"

In [66]:
a.isalnum()

True

In [70]:
b = "Hi5445"

In [71]:
b.isalnum()

True

In [74]:
b ='u55'

In [75]:
b.isdigit()

False

In [76]:
b.isalnum()

True

In [77]:
c = 'lower'

In [78]:
c.islower()

True

In [79]:
c.isspace()

False

In [80]:
c = "hi hello"

In [81]:
c.isspace()

False

In [82]:
c = "   "

In [83]:
c.isspace()

True

In [84]:
a = 'Python'

In [85]:
a.replace('y','q')

'Pqthon'

In [1]:
a = 'Virat'
score = 85

In [88]:
print(a,"has scored ",score,"runs in the last match")

Virat has scored  85 runs in the last match

In [89]:
print("{} has scored {} runs in the last match".format(a,score))

Virat has scored 85 runs in the last match

In [90]:
a

'Virat'

In [2]:
a.ljust(5,"#")

'Virat'

In [95]:
a

'Virat'

In [11]:
a.ljust(7,"5")

'Virat55'

In [9]:
a.rjust(6,'4')

'4Virat'

In [12]:
a = '      Hi'

In [13]:
a

'      Hi'

In [14]:
a.strip()

'Hi'

In [15]:
a = '      Hi        '

In [16]:
a

'      Hi        '

In [17]:
a.strip()

'Hi'

In [18]:
a = 'Hello'

In [19]:
# a.

# Comparison Operator

In [1]:
5 > 3

True

In [2]:
5>7

False

In [3]:
type(True)

bool

In [4]:
5 == 5

True

In [8]:
5 <= 6

True

In [9]:
5 > 3

True

In [12]:
5 >= 4

True

In [13]:
2 != 3

True

# Chaining comparison Operator

In [14]:
3>2>1

True

In [15]:
1<2<3

True

In [16]:
# and or not

In [18]:
3 > 2 and 3 > 4

False

In [20]:
3 > 6 or 3 > 5

False

In [21]:
not 3 > 5

True

In [22]:
3>5

False

In [28]:
cost_price = 200
selling_price = 250
profit = selling_price - cost_price

print("I have made a profit of {} rupee".format(profit))

loss = cost_price - selling_price

print('I have made loss of {} rupee '.format(loss))

I have made a profit of 50 rupee
I have made loss of -50 rupee

In [30]:
var_1 = int(input('Enter The First side '))
var_2 = int(input('Enter The Second side '))

area = var_1*var_2

print('It is Rectangle and its Area is {}'.format(area))

print('It is Square and its Area is {}'.format(area))

Enter The First side 10
Enter The Second side 10
It is Rectangle and its Area is 100
It is Square and its Area is 100

# Statements in Python

In [ ]:
if condition:
    statement1
else:
    statement2

In [33]:
cost_price = int(input('Please enter the cost price of the product : '))
selling_price = int(input('Please enter the Selling price of the product : '))

if selling_price>cost_price:
    profit = selling_price - cost_price
    print("I have made a profit of {} rupee".format(profit))

else:
    loss = cost_price - selling_price
    print('I have made loss of {} rupee '.format(loss))

Please enter the cost price of the product : 150
Please enter the Selling price of the product : 100
I have made loss of 50 rupee

In [1]:
buy = int(input('Enter the price at which you bought the share : '))
sell = int(input('Enter the price at which you sold the share : '))
qnt = int(input('How many qant : '))
if buy > sell :
    loss = (buy - sell)*qnt
    print('You have made a loss of {}'.format(loss))
elif buy == sell:
    print('You trade is break even ')
else:
    profit = (sell - buy)*qnt
    print('You have made a profit {}'.format(profit))

Enter the price at which you bought the share : 150
Enter the price at which you sold the share : 150
How many qant : 10
You trade is break even